<h1><%= @meme.title %></h1>

<%= image_tag @meme.url_source, alt: @meme.title, width: "400px" %>

<p>
  Category: <%= @meme.category.name %>
</p>

<div>
  Votes: <%= @meme.votes_count %>
  <% unless user_signed_in? %>
    Login to vote!
  <% end %>
</div>

<div>
  <h2>Comments</h2>

  <% unless user_signed_in? %>
    <p>Login to add a comment!</p>
  <% end %>

  <ul>
    <% @meme.comments.each do |comment| %>
      <li><%= comment.user.username %>: <%= comment.body %></li>
    <% end %>
  </ul>
</div>